<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="DefaultCulture" value="de-CH" />
  </appSettings>
  <connectionStrings>
    <add name="DatabaseConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DneadAuctionDb-Local;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>